@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.first-section {
  background-image: url("/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%; /* This sets the background image to be 50% of the width and 50% of the height of the section */
  height: 100vh;
  width: 100%;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
